<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Libri</title>
    <link th:href="@{/styles/buttonStyle.css}" rel="stylesheet" />
    <link th:href="@{/styles/tableStyle.css}" rel="stylesheet" />
</head>
<body>
  <div style="display: flex; flex-direction: row; justify-content: center">
    <button th:onclick="|window.location.href='/homepage'|">Indietro</button>
    <h1 style="text-align: center">Lista di Libri</h1>
  </div>
  <table>
    <tr>
      <th>Titolo</th>
      <th>Autore</th>
      <th>Anno di pubblicazione</th>
      <th>Prezzo</th>
      <th>Acquista</th>
    </tr>
    <tr th:each="libro : ${libri}">
      <td><a th:href="@{/details/{title}(title = ${libro.getTitolo()})}" th:text="${libro.getTitolo()}"></a></td>
      <td th:text="${libro.getAutore()}"></td>
      <td th:text="${libro.getAnno()}"></td>
      <td th:text="${libro.getPrezzo()}"></td>
      <td><a th:href="@{/addToCart/{title}(title = ${libro.getTitolo()})}"><button>Aggiungi al carrello</button></a></td>
    </tr>
  </table>
  <div th:each="libroJson : ${libriJson}">
    <p th:text="${libroJson}"></p>
  </div>
</body>
</html>